<!DOCTYPE html>
<html>
<style>
.title {
  text_align: center
}
.list {
  text_align: center
}
</style>

  <head>
    <title>RailsEngineFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
